<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<form action="/" method="POST">
		<input type="text" name="name" placeholder="name"><br>
		<input type="text" name="email" placeholder="email"><br>
		<input type="text" name="password" placeholder="password"><br>
		<input type="submit" name="submit" value="submit">
	</form>
	<p>{{error}}</p>
	<a href="/signin">already have an account? sign in</a>
</body>
</html>